extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Form Example
  form(method='post', action='/')
    fieldset
      legend Add a user
      p
        lable First name
        input(name='user[first_name]')
      p
        lable Last name
        input(name='user[last_name]')
      p
        input(type='submit', value='Save')


